<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Modifier une soirée</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Modifier</button>
{{ form_end(form) }}

<a href="/soiree">Retour</a>
</body>
</html>