{{ form_start(form) }}

    {{ form_row(form.nom) }}
    {{ form_row(form.style) }}

    <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded">
        Enregistrer
    </button>

{{ form_end(form) }}